body {
  padding: 0;
  margin: 0;
  font-family: "Josefin Slab", serif;
}

h1,
h2,
h3 {
  font-family: "Fredericka the Great", cursive;
}

/* ----------------------------------------------- Nav */

.navbar {
  height: 72px;
}

.navbar-brand {
  letter-spacing: 3px;
  font-size: 1.5rem;
  font-family: "Fredericka the Great";
  padding-left: 10px;
}

/* ----------------------------------------------- Carousel */

.carousel-container {
  margin: 72px 10px 10px 10px;
  /* background: url("img/choir_church_burst_window.jpg") center center/cover; */
  height: 500px;
  position: relative;
}

.carousel-item {
  height: 500px;
}

/* ----------------------------------------------- Colours */

/* ----------------------------------------------- Hero / Callout */

.jumbotron {
  color: #fff;
  position: absolute;
  padding: 15px 20px 10px 20px;
  background-color: rgb(233 236 239 / 0.5);
  z-index: 10;
  width: 400px;
  margin: auto;
}
