body {
  padding: 0;
  font-family: "Josefin Slab", serif;
  box-sizing: border-box;
  background-color: #399dcc28;
}

.center {
  max-width: 1200px;
  margin: auto;
}

/* section {
  margin: auto;
} */

h1,
h2,
h3,
.lead,
.btn {
  font-family: "Fredericka the Great", cursive;
  text-align: center;
}

.btn {
  background-color: rgb(228, 68, 47);
  border: none;
}

.btn-align {
  margin: 10px;
  display: flex;
  justify-content: center;
}

.center-icon-head {
  display: block;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

/* ----------------------------------------------- Nav */

.navbar {
  height: 98px;
  background-color: #fff;
  margin-bottom: 2px;
  z-index: 15;
}

#logo {
  letter-spacing: 3px;
  font-size: 2rem;
  font-family: "Fredericka the Great";
  padding-left: 10px;
  color: rgba(57 157 204 / 0.6);
}

.navbar-collapse {
    background-color: #fff;
    padding: 20px;
}

/* #navbarDropdown {
  display: inline-block;
  background-color: #fff;
  padding: 20px;
  z-index: 10;
} */

.nav-item {
  text-align: right;
}

ul {
  list-style: none;
}

hr {
    margin: 5px;
    visibility: hidden;
}
/* ----------------------------------------------- Colours */

.blue-text {
  color: rgba(57 157 204 / 0.6);
}

.red-text {
    color: rgb(228, 68, 47);
}

/* button {
    background-color: rgb(228, 68, 47);
} */

/* ----------------------------------------------- Hero / Jumbotron */

#hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("img/octagon_singing_sitting.jpg");
  height: 80vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.jumbotron {
  color: #fff;
  position: absolute;
  bottom: 10vh;
  padding: 20px;
  background-color: rgb(233 236 239 / 0.6);
  z-index: 10;
  text-align: center;
}

.jumbotron button {
  font-size: 2rem;
  color: #fff;
  background-color: rgb(228, 68, 47);
  border: none;
}

.nowrap {
  white-space: nowrap;
}

/* ----------------------------------------------- Info (About, When & Where) */

/* #info {
  margin: 20px 10px;
  position: relative;
  top: 0;
  align-content: center;
} */



/* .flex-row {
  display: flex;
  justify-content: space-between;
} */

/* Border-radius to match jumbotron */

.border {
  border-color: #fff;
  padding: 20px;
  border-radius: 0.3rem;
  margin: 0px 0px;
  /* max-width: 1200px; */
  background-color: #fff;
  height: 100%;
  width: 100%;
}

/* blockquote {
  padding: 10px;
  text-align: center;
} */

/* CREDIT sitepoint.com user Paul OB. Circle class was not centering. On his advice I changed this to a block element so that margin: auto would take effect. */
.circle {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid rgba(57 157 204 / 0.6);
  padding: 20px;
  margin: auto;
  display: block;
}

/* .central {
  text-align: center;
  /* vertical-align: middle; */
} */

.central ul {
  /* padding-left: 90px; */
  /* list-style: none; */
}

/* .left-text {
  text-align: left;
} */

/* ---------------------------------------------- Member stories */

/* .quote-container {
    padding: 30px;
    background-color: white; */
    /* border: 1px #fff solid; */
}

/* ----------------------------------------------- Carousel */

.carousel-inner {
  height: 600px;
}

/* ----------------------------------------------- Form */

.input-container {
    display: block;
  max-width: 70%;
  margin: auto;
}

label {
  font-size: 1.2rem;
}

.tea,
.mlist {
  padding-top: 10px;
}

/* Code for customised radio buttons and checkbox written by Vadim Ovchinnikov and found on Stack Overflow. 
Padding, size and colours customised here. 
Code reused for checkbox customisation. */

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 13px;
  height: 13px;
  padding: 0.5px;
  background-clip: content-box;
  border: 1px solid rgb(228, 68, 47);
  background-color: #fff;
  border-radius: 50%;
}

input[type="radio"]:checked {
  background-color: rgb(228, 68, 47);
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 13px;
  height: 13px;
  padding: 0.5px;
  background-clip: content-box;
  border: 1px solid rgb(228, 68, 47);
  background-color: #fff;
  /* border-radius: 50%; */
}

input[type="checkbox"]:checked {
  background-color: rgb(228, 68, 47);
}



/* ----------------------------------------------- Social */

.social {
  height: 200px;
  margin-top: 10px;
  color: rgb(228, 68, 47);
}

.social .col {
  font-size: 2rem;
  text-align: center;
  padding-top: 20px;
}

/* ----------------------------------------------- Footer */

.footer-main {
  background-color: rgba(57 157 204 / 1);
  height: 100px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  font-size: 1.2rem;
}

/* ----------------------------------------------- Media queries */

@media screen and (max-width: 811px) {
  .carousel {
    visibility: hidden;
  }
}

@media screen and (max-width: 811px) {
  .carousel-container {
    background: url("/assets/img/octagon_singing_sitting.jpg") center no-repeat;
    /* height: 100%; */
    background-size: cover;
  }
}
